body{
  background-color: rgb(55,71,79);
}

.container-fluid{
  height: 100vh;
  width: 100vw;
  padding: 0;
}

.row .col.s12{
  padding: 0;
}

.logo{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  margin-left: 15px;
}

.about_welcome{
  color: rgb(230,126,34);
  font-family: 'Paytone One', sans-serif;
  padding: 0px 0px 0px 50px;
}

.pWhite{
  color: white;
  padding: 0px 70px 0px 70px;
  font-size: 25px;
}

#videos_length{
  color: rgb(230,126,34);
  font-weight: bold;
  font-size: 25px;
}

ul{
  color: white;
  font-size: 25px;
}

li{
  color: rgb(46,204,113);
  padding: 0px 70px 0px 70px;
}

dd{
  padding: 0px 80px 0px 80px;
}

.emailAd{
  color: rgb(230,126,34);
  font-weight: bold;
  font-size: 25px;
}
